body {
    background-color: rgb(117, 255, 255);
}

.heading {
    width: 80%;
    font-size: 22px;
}

.name_of_the_objects
{
color:rgb(53, 53, 53);
font-family: 'Dancing Script', cursive;
font-size: 45px;
}

#camera
{
    border: 2px solid rgb(32, 31, 31); 
    width: 350px;
    height: 350px;
}